body {
  &.lightbox-open {
    overflow: hidden;
  }
}

.lightbox {
  opacity: 0;
  transition: opacity .3s;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch;

  background-image: -webkit-gradient( linear, right bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #C6C6C6) );
  background-image: -o-linear-gradient(left top, #FFFFFF 0%, #C6C6C6 100%);
  background-image: -moz-linear-gradient(left top, #FFFFFF 0%, #C6C6C6 100%);
  background-image: -webkit-linear-gradient(left top, #FFFFFF 0%, #C6C6C6 100%);
  background-image: -ms-linear-gradient(left top, #FFFFFF 0%, #C6C6C6 100%);
  background-image: linear-gradient(to left top, #FFFFFF 0%, #C6C6C6 100%);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.active {
    opacity: 1;
  }

  &.lightbox-2 { z-index: 2; }
  &.lightbox-3 { z-index: 3; }
  &.lightbox-4 { z-index: 4; }
  &.lightbox-5 { z-index: 5; }

  img {
    max-width: 100%;
    height: auto;
    margin: 5px;
    vertical-align: top;
  }
}

.lightbox-content-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.lightbox-content {
  width: 100%;
  text-align: center;
  padding: 20px;

  img {
    cursor: pointer;
  }

  .title {
    display: inline-block;
    font-size: 90px;
    text-transform: uppercase;
  }
}

.lightbox-2 {
  .lightbox-content {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  img {
    display: none;
    &.active {
      display: inline-block;
    }
  }
}
