@font-face {
    font-family: 'GtwalsheimThin';
    src: url('../../../assets/fonts/gt-walsheim-thin-web.eot');
    src: url('../../../assets/fonts/gt-walsheim-thin-web.eot?#iefix') format('embedded-opentype'),
         url('../../../assets/fonts/gt-walsheim-thin-web.woff') format('woff'),
         url('../../../assets/fonts/gt-walsheim-thin-web.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
